html, body{
    height:100%;
    margin:0;
    padding:0;
}

.title-bar{
    position:fixed;
    height:60px;
    top:0;
    left:0;
    right:0;
    background:violet;
    margin:0;
    padding:0;
}


.tab-bar{
    position:fixed;
    height:60px;
    bottom:0;
    left:0;
    right:0;
    background:orange;
    margin:0;
    padding:0;
}

.tab-bar *{height:100%}

.main-container{
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    top:60px;
    bottom:80px;
    background:transparent;
    margin:0;
    padding:0;
}

.main-content{
    height:100%;
    overflow-y: auto;
    background:url(../img/subtle_surface.png);
}




.top-unit{
    /*height:300px;*/
    position:absolute;
    width:100%;
    background:url(../img/dark_wood.png);
    height:100%;
    margin:0;
    top:0;
    text-align:center;
    color:white;
}

.top-unit h3{
    font-weight:normal;
    height:100%;
}


.filling-buttons {
    height:60px;
    width:100%;
    background:black; 
}

.filling-buttons *{
   height:100%;

}


.back-btn{
    position: absolute;
    left:10px;
    top:15px;
    height:20px;
    

}
