Django==1.5.1
PIL==1.1.7
PyYAML==3.10
South==0.8.1
django-debug-toolbar==0.9.4
django-extra-views==0.6.0
django-jsonfield==0.8.12
django-social-auth==0.7.23
djangorestframework==2.3.4
geopy==0.94.2
httplib2==0.8
kitchen==1.1.1
lxml==3.1beta1
mwclient==0.6.5
oauth2==1.5.211
pymongo==2.4.2
python-openid==2.2.5
simplejson==3.0.7
simplemediawiki==1.1.1
sorl-thumbnail==11.12
wikitools==1.1.1
wsgiref==0.1.2
