{% extends "base.html" %}
{% load url from future %}
{% load thumbnail %}

{% block content%}

<div class="container-fluid">
<div class="row-fluid">
    <div class="span3">
        <div class="hero-unit">
            <a class="btn btn-primary" href="{% url "plant_add" %}">Add a new plant</a>
        </div>
    </div>
    <div class="span9">
        <table class="table table-bordered table-condensed">
            <tr>
                <th>ID</th>
                <th>Suggested name</th>        
                <th>Votes</th>
                <th>Detail</th>        
            </tr>
        {% for object in object_list %}
            <tr>
                <td>
                    {% comment %} {{object.id}} {% endcomment %}
                    {% if object.pictures.all %}
                        {% thumbnail object.pictures.all.0.picture "x100" as im %}
                            <img src="{{ im.url }}">
                        {% endthumbnail %}
                    {% else %}
                        No picture
                    {% endif %}
                </td>
                <td>{{object.suggested_plant_name}}</td>
                <td>{{object.count_judgements_models}}</td>
                <td><a href="{% url "plant_detail" object.id %}">Detail</a></td>
            </tr>
        {% endfor %}
        </table>
    </div>
    
    </div>
</div>

</div>


{% endblock %}