{% extends "base.html" %}
{% load url from future %}
{% load bootstrap %}

{% block content %}

<div class="container">
    <h2>Edit plant information</h2>
    <form action="" method="post" enctype="multipart/form-data">
    {{ form|bootstrapform}}{% csrf_token %}
    
    <fieldset class="formset">
    <legend>Plant images</legend>
        {{ inlines.management_form }}
        {% for form in inlines %}
        {{ form|bootstrapform }}
        {% endfor %}
    </fieldset>
    
    <input class="btn btn-danger" type="submit" value="submit"/>
    <a href="{% url "plant_detail" object.id %}" class="btn">Cancel</a>
    
    </form>
</div>
{% endblock %}
