{% extends "base.html" %}
{% load bootstrap %}
{% load url from future %}

{% block content %}


<div class="container">
    <h2>Add a new plant</h2>
    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
    
    <h3 class="muted">Add some images</h3>
    <fieldset class="formset">
        {{ inlines.management_form }}
        {% for form in inlines %}
            {{ form|bootstrapform }}
        {% endfor %}
    </fieldset>
    
    {{ form|bootstrapform}}{% csrf_token %}
    
    <input class="btn" type="Submit" value="submit"/>
    <a href="{% url "plant_list" %}" class="btn">Cancel</a>
    
    </form>
</div>
{% endblock %}
