/* scaffolding */

html,
body {
  height: 100%;
}

.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -40px;
}

#push,
#footer {
  height: 40px;
}

#footer {
  background-color: #ffffff;
  padding: 5px 0px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-top: 1px solid #dadada;
}

@media (max-width: 767px) {
  #footer, #header {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}


#main {
  border-right: 1px solid #dadada;
  margin-left: -20px;
  -webkit-box-shadow: 2px 0px 3px -1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 0px 3px -1px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 0px 3px -1px rgba(0, 0, 0, 0.1);
}

#content {
  background-color: #fafafa;
  min-height: 600px;
  padding: 10px;
}

#specs {
  border-top: 1px solid #d4d4d4;
  padding-bottom: 100px;
}

#sidebar {
  padding: 10px 0px;
  margin-top: 30px;
  margin-left: 20px;
  width: 16%; /* oCCHIO!*/
}

a.toggles {
    position: absolute;
    right:0;
    display:block;
    background-color:transparent;
    color:#dddddd;
    padding:10px 12px;
}


h4 {
  font-size: 15px;
  font-weight: normal;
  margin: 5px 0px;
}

.header {
  border-bottom: 1px solid #d4d4d4;
  padding: 5px 10px;
}

.header.strict {
  border-bottom: 1px solid #d4d4d4;
  padding: 0px;
}

/* bootstrap changes */
.navbar-inner {
  padding-right: 10px;
  padding-left: 10px;
}

.navbar-masthead .navbar-inner {
  color: #999999;
  background-color: #ffffff;
  background-image: none;
}

.row-fluid > [class*="span"]:first-child {
  margin-left: 0;
}
  


.breath {
  padding: 10px;
}

.push-right {
  margin-right: 10px;
}


.bootstrap-select.btn-group, .bootstrap-select.btn-group[class*="span"] {
  outline: none;
  margin-bottom: 0px;
}

.bootstrap-select .btn:focus {
  outline: 0px dotted #333333 !important;
  outline: 0px auto -webkit-focus-ring-color !important;
}

.bootstrap-select.btn-group .btn .filter-option {
  font-weight: normal;
}

p.info,
label.info {
  font-size: 11px;
  color: #888888;
  margin-top: 5px;
}


i.active {
  opacity: .7;
  cursor: pointer;
}

i.active:hover {
  opacity: 1;
}

/* Specs */

.spec-body {
  border-bottom: 1px solid #d4d4d4;
  background-color: #f2f2f2;
  padding: 10px;
}

.spec-header {
  position: relative;
  padding: 15px 10px;
  padding-bottom: 5px;
}

.spec-player {
  margin-right: 30px;
}

.remove {
  position: absolute;
  top: 15px;
  right: 15px;
}

.tocut {
  overflow: hidden;
  white-space: nowrap; /* Don't forget this one */
  text-overflow: ellipsis;
}



/* Player */

.player {
  width:100%;
  padding: 10px 0px;
  position: relative !important;
}

.player-background {
  position: relative !important;
  width:100%;
  height: 6px;
  border-radius: 4px;
  background-color: #ffffff;
  border: 1px solid #d4d4d4;
}

.player-trace {
  position: absolute;
  top: 10px;
  width:60%;
  height: 6px;
  border-radius: 4px;
  background-color: #dddddd;
  border: 1px solid #d4d4d4;
}

.player-cursor {
  width:8px;
  height: 8px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #aaaaaa;
  position: absolute;
  top:9px;
  margin-left:-6px;
  cursor: pointer;
}

.player-cursor:hover {
  border: 1px solid #888888;
}


.right {
  right: 0px;
}

.left {
  left: 0px;
}


/* Bars */

bargroup {

}

bargroup ul {
}

bargroup ul li {
  position: relative;
  font-size: 12px;
  color: #888;
}

bargroup ul li span {
  position: absolute;
}

bargroup ul li span.right {
  margin-right: 5px;
  font-weight: bold;
}

bargroup ul li span.left {
  margin-left: 5px;
}

.bar {
  position: absolute;
  width: 50%;
  height: 20px;
  background-color: #eee;
  right: 0px;
}


/* FIXING BOOTSTRAP BUGS:.. */

/* by default, remove left-hand margin on all spans of class .marker */




/* restore default left hand margin on all but the first span of class .marker */




/* since this is a responsive example, tweak the left margin at different viewports */

.nopad{
    padding:0px;
}

.navbar-inner *{
    line-height:76px;
}

.top-unit{
    height:300px;
    background:url(/img/dark_wood.png);
    padding:20px;
        text-align:center;
}

.top-unit h1{
    color:white;

}
.wrap{
    background:url(/img/subtle_surface.png);

}

.noback{
    background:transparent;
}
