<div class="title-bar">
    <div class="top-unit">
        <h3>Reference plants</h3>
    </div>
</div>



<div class="main-container">
    
    <div filling-buttons>
      <div  class="filling-buttons">
          <div class="btn-group">
                <button type="button"  class="btn btn-primary" ng-model="radioModel" btn-radio="'List'">List</button>
                <button type="button"  class="btn btn-primary" ng-model="radioModel" btn-radio="'Thumbs'">Thumbs</button>
          </div>
      </div>
    </div>
    
    
    <div class="main-content">
    
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <form class="form-inline">
                    <label>Search</label>
                    <input type="text" ng-model="searchText">
                </form>
            </div>
            
            <div class=" " ng-show="radioModel=='Thumbs'">
                <div ng-repeat="refPlant in refPlants| filter:searchText" class="pull-left" >
                    <img class="img-polaroid" style="height:200px;width:200px;"  ng-src="{{ refPlant.first_image }}"><br/>
                    <a href="#/refplants/{{refPlant.id}}"><span class="label">{{ refPlant.name }}</span></a>
                </div>
            </div>    
            
            <div class=" " ng-show="radioModel=='List'">
                
                <div ng-repeat="refPlant in refPlants| filter:searchText" >
                    <img class="img-polaroid" style="height:200px;width:200px;"  ng-src="{{ refPlant.first_image }}">
                    <span>
                        <a href="#/refplants/{{refPlant.id}}"><span class="label">{{ refPlant.name }}</span></a>
                    </span>
                </div>
                <div ng-show="(refPlants | filter:searchText).length == 0">
                    No results!
                </div>
            </div>    
        </div>
    </div>
    
    </div>
</div>